annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
click==8.3.2
faiss-cpu==1.13.2
fastapi==0.136.0
fuzz==0.1.1
h11==0.16.0
httptools==0.7.1
idna==3.11
joblib==1.5.3
lightfm==1.17
matplotlib==3.10.1
numpy==2.4.4
packaging==26.1
pandas==3.0.2
pyarrow==23.0.1
pydantic==2.13.2
pydantic_core==2.46.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
RapidFuzz==3.14.5
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
starlette==1.0.0
threadpoolctl==3.6.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.44.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
